<div>
  This is Main View
</div>

<!-- START Test Lat - Long data -->
<!-- START Test Lat - Long data -->
<div class="jumbotron">
  <div class="jumbotron">
    <h1>Address {{current.name}}</h1>
    <p class="lead">
      <div ng-init="location='xxx1600 Amphitheatre Parkway, Mountain View, CA'">
        <p>
          <label for="location">Street Address:
            <input type="text" name="location" ng-model="location">
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshCurrent()">Get lon - lat</button>
        </p>
        <dl>
          <dt>Lat</dt>
          <dd>{{current.results[0].geometry.location.lat}}</dd>
          <dt>Lng</dt>
          <dd>{{current.results[0].geometry.location.lng}}</dd>
        </dl>
      </div>
    </p>
  </div>
</div>
<!-- END Test Lat - Long data -->
<!-- END Test Lat - Long data -->


<!--Start RepSearch//////////////////////////-->
<div class="jumbotron">
  <div class="jumbotron">

    <h1>Your Reps {{repsearch.name}}</h1>
    <!-- <div ng-if="repsearch.results.length>1" class="contaner"> -->
    <div ng-init="repsearch">

      <label for="repsearch">Reps:
          <input type="text" name="repsearch" ng-model="repsearch">
        </label>

      <div class="container">

        <dl ng-repeat="repinfo in repsearch.results" class="reps">
          <dt>Chamber</dt>
          <dd>{{repinfo.chamber}}</dd>
          <dt>Name</dt>
          <dd>{{repinfo.first_name}}</dd>
          <dd>{{repinfo.last_name}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<!--End RepSearch//////////////////////////-->



<div class="row marketing">

</div>
