<div>
  This is Main View
</div>

<!-- START Test Lat - Long data -->
<!-- START Test Lat - Long data -->
<div class="jumbotron">
  <div class="jumbotron">
    <h3>Address {{current.name}}</h3>
    <p> TEST data:</p>
    <p>1600 Amphitheatre Parkway, Mountain View, CA</p>
    <p>109 Carolina Ave, Jamaica Plain, MA 02130</p>
    <p>Seattle University, 12th Avenue, Seattle, WA</p>
    <p class="lead">
      <div ng-init="location='1600 Amphitheatre Parkway, Mountain View, CA'">
        <p>
          <label for="location">To find your repsenatives, put your Street Address in here:
            <input type="text" name="location" ng-model="location">
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshCurrent(location)">Show me my Reps</button>
        </p>
        <dl>
          <dt>Lat</dt>
          <dd>{{current.results[0].geometry.location.lat}}</dd>
          <dt>Lng</dt>
          <dd>{{current.results[0].geometry.location.lng}}</dd>
        </dl>
      </div>
    </p>
  </div>
</div>
<!-- END Test Lat - Long data -->
<!-- END Test Lat - Long data -->

<!--Start RepSearch//////////////////////////-->
<!--Start RepSearch//////////////////////////-->
<!--////////////////////////////////////
TThis note refers to 2 variables that are used in the code below. (and created here in the html)
It’s a reminder of how to perform a basic function on a site, looping through data.
	1) var repinfo
	2) var role
The data that is returned from the API can be looped through and any data they contain
can be pulled out to show on the site.
SETP ONE:
Data returned from the API : repsearch - (an array containing a bunch of objects).
<dl ng-repeat="repinfo in repsearch”…..
	means: Go through the array (repsearch) and pull out anything you find inside that array.
		Each thing found will be added to the variable repinfo.

	So..  <dd>{{repinfo.last_name}}….:
		Means: Go through repsearch and add all the last_name values to repinfo.
		The double curlies means print it out on the site.
NEXT STEP
There is an array inside this array, called roles.
Roles, is (also) the whole array (of roles). We want to pull out parts of
that array and deal with them the way we want. Some parts we don’t care about,
some parts get put here, others go there. The procedure is the same as above.
Make a variable to hold the parts of the array we are interested in.

Data returned from the API : repsearch - (is an array that also contains an array called: roles).
		We are already looping through repsearch and adding data to repinfo (step one).
		While doing this: When the site gets to the array roles:
		let’s loop through that and add any data found to another variable: role.

<dl ng-repeat="role in repinfo.roles”….
	means: Go through the array (roles) and pull out anything you find inside that array.
		Each thing found will be added to the variable role.

	So..  <dd>{{role.term}}….:
		Means: Go through (repsearch.roles??????) and add all the term values to role.
		The double curlies means print it out on the site.

RINSE AND REPEATE
////////////////////////////////////-->

<div class="container-fluid">
  <div class="row is-flex">
    <h1>Your Reps</h1>

      <div ng-init="repsearch" class="container" style="width:100%">

        <dl class="col-sm-6 col-md-4 col-lg-4" ng-repeat="repinfo in repsearch">
          <dd><img class="img-responsive" ng-src="{{repinfo.photo_url}}"></dd>
<!--Data supplies chamber: upper or lower to designate House or Senate
Upper & Lower are meaningless to the public so we'll translate them here.-->
          <dd ng-switch="repinfo.chamber">
            <span ng-switch-when="lower">HOUSE</span>
            <span ng-switch-when="upper">SENATE</span>
          </dd>
          <dd>{{repinfo.last_name}} {{repinfo.first_name}}</dd>
          <dd>Party: {{repinfo.party}}</dd>
          <dl ng-repeat="office in repinfo.offices">
            <dd>Phone: <a href="tel:+1{{office.phone}}">{{office.phone}}</a></dd>
            <dd ng-if="office.fax">Fax: {{office.fax}}</dd>
            <dd ng-if="office.email">email: {{office.email}}</dd>

            <dd> Office Name: {{office.name}}</dd>
            <dd>Address: {{office.address}}</dd>

            <dl ng-repeat="role in repinfo.roles" ng-show="$first">
            <dd>Term of Service: {{role.term | limitTo:4}} - {{role.term | limitTo:-4}}</dd>
          </dl>
        </dl>

        </dl>
      </div>
    </div>
</div>
<!--End RepSearch//////////////////////////-->
<!--End RepSearch//////////////////////////-->


<!--Start RepSearchFED//////////////////////////-->
<!--Start RepSearchFED//////////////////////////-->

<div class="container-fluid">
  <div class="row is-flex">
    <h1>Your FED Reps</h1>
<!--{{repdata|json}}-->
      <div ng-init="repsearchfed" class="container" style="width:100%">

        <dl class="col-sm-6 col-md-4 col-lg-4" ng-repeat="repinfofed in repdata.results">


          <dd>{{repinfofed.last_name}} {{repinfofed.first_name}}</dd>
          <dd>Party: {{repinfo.party}}</dd>


        </dl>
      </div>
    </div>
</div>
<!--End RepSearchFED//////////////////////////-->
<!--End RepSearchFED//////////////////////////-->




<div class="row marketing">

</div>
