<div>
  This is Main View
</div>

<!-- START Test Lat - Long data -->
<!-- START Test Lat - Long data -->
<div class="jumbotron">
  <div class="jumbotron">
    <h1>Address {{current.name}}</h1>
    <p class="lead">
      <div ng-init="location='xxx1600 Amphitheatre Parkway, Mountain View, CA'">
        <p>
          <label for="location">Street Address:
            <input type="text" name="location" ng-model="location">
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshCurrent(location)">Get lon - lat</button>
        </p>
        <dl>
          <dt>Lat</dt>
          <dd>{{current.results[0].geometry.location.lat}}</dd>
          <dt>Lng</dt>
          <dd>{{current.results[0].geometry.location.lng}}</dd>
        </dl>
      </div>
    </p>
  </div>
</div>
<!-- END Test Lat - Long data -->
<!-- END Test Lat - Long data -->

<!--Start RepSearch//////////////////////////-->
<!--Start RepSearch//////////////////////////-->
<!--////////////////////////////////////
This note refers to 2 variables that are used in the code below.
It’s a reminder of how to perform a basic function on a site, looping through data.
	1) var repinfo
	2) var role
The data that is returned from the API is turned into an object/objects.
These objects can be looped through and any data they contain
can be pulled out to show on the site.

<dl ng-repeat="repinfo in repsearch”…..
	Contains: repinfo(object) contains everything in repsearch.
	Means: loop through the object and get all the data.
  (data I’m interested in will be requested below)
<dd>{{repinfo.last_name}}….
	Means: go to repsearch: print out all the values for last name.

There are arrays inside the array repsearch. Some have more data than others.
Rather than accessing those arrays directly, we’ll create a new variable
to contain everything in that array, then loop through it.

<dl ng-repeat="role in repinfo.roles”….
	Contains: role(object) Contains all the data in the array roles.
	Means: We’re going to loop through role to get data.
  Specific data will be requested below.
Pull out some (specific) data:
<dd>{{role.term}}….
	Means: While we’re looping through repinfo, Let’s also loop through role
  and print out all the data (values) that exist for term
////////////////////////////////////-->
<div class="jumbotron">
  <div class="jumbotron">
    <h1>Your Reps {{repsearch.name}}</h1>
    <div ng-init="repsearch">
      <div class="container">
        <dl ng-repeat="repinfo in repsearch" class="reps">
          <dt>Name</dt>
          <dd>{{repinfo.last_name}} {{repinfo.first_name}}</dd>
          <dt>roles</dt>
          <dl ng-repeat="role in repinfo.roles">
            <!--optional "Transform data" function-->
            <dd>Term: {{role.term}}</dd>
            <dd>Party: {{role.party}}</dd>
            <dd>Active: {{repinfo.active}}</dd>
            <dd>Photo: <img ng-src="{{repinfo.photo_url}}"></dd>
          </dl>
          <dd>{{repinfo.last_name}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<!--End RepSearch//////////////////////////-->
<!--End RepSearch//////////////////////////-->



<div class="row marketing">

</div>
